@charset "ISO-8859-1";
	body {
	    font-family: Arial, sans-serif;
	    background-color: #F5E8C7;
	    color: #6F4C5B;
	    margin: 0;
	    padding: 0;
	}

	h2 {
	    color: #9E7777;
	    text-align: center;
	    padding-top: 20px;
	}

	form {
	    background-color: #DEBA9D;
	    padding: 20px;
	    border-radius: 8px;
	    width: 300px;
	    margin: 0 auto;
	    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	}

	label {
	    display: block;
	    font-weight: bold;
	    color: #6F4C5B;
	    margin-bottom: 0.5rem;
	}

	input[type="text"] {
	    width: calc(100% - 22px);
	    padding: 8px;
	    border: 1px solid #6F4C5B;
	    border-radius: 4px;
	    margin-bottom: 12px;
	}

	button {
	    background-color: #6F4C5B;
	    color: #F5E8C7;
	    border: none;
	    padding: 10px 20px;
	    border-radius: 4px;
	    cursor: pointer;
	    font-size: 16px;
	    transition: background-color 0.3s ease;
	}

	button:hover {
	    background-color: #9E7777;
	}

	.popup-message {
			display:block;
			margin-left: 80%;
			margin-right: 12px;
			background-color: #DEBA9D;
			padding-left: 4px;
			padding-right: 4px;
			border-radius: 4px;
			width: fill-content;
			color: #6F4C5B;
			font-size: 20px;
			font-weight: bold;
	   		text-align: center;
	}
	
	.message {
	           color: #6F4C5B;
	            font-size: 18px;
	            margin-bottom: 20px;
	        }
        
        .hidden {
            display: none;
        }
	
