	@charset "ISO-8859-1";
	body {
	    font-family: Arial, sans-serif;
	    background-color: #F5E8C7;
	    margin: 0;
	    padding: 0;
	}
	
	h1 {
	    color: #9E7777; /* Soft pink for headings */
	    text-align: center;
	     padding-top: 20px;
	}
	
	.form-container {
	    width: 300px;
	    margin: 0 auto;
	    background-color: #9E7777;
	    padding: 20px;
	    border-radius: 8px;
	}
	
	.form-item {
	    margin-bottom: 15px;
	    color: #F5E8C7;
	}
	
	.form-item h3 {
	    margin: 0;
	    font-size: 18px;
	}
	
	.form-item span {
		color: white;
	    font-size: 20px;
	}
