@charset "ISO-8859-1";
	body {
	    background-color: #F5E8C7; 
	    font-family: Arial, sans-serif;
	    margin: 0;
	    padding: 0;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 100vh;
	}
	
	h2 {
	    margin-top: 0px;
	    color: #6F4C5B; 
	    font-size: 38px;
	}
	
	.container {
	    background-color: #DEBA9D; 
	    padding: 20px;
	    border-radius: 8px;
	    width: 300px;
	    display: flex;
	    flex-direction: column;
	    align-items: stretch;
	    justify-content: center;
	}
	
	button {
	    background-color: #6F4C5B; 
	    color: #F5E8C7; 
	    font-size: 20px;
	    padding: 10px;
	    width: 100%;
	    border: none;
	    border-radius: 5px;
	    margin: 10px 0;
	    cursor: pointer;
	}
	
	button:hover {
	background-color: #9E7777;
	    color: #F5E8C7; 
	}
	
	a {
	    text-decoration: none;
	    color: #9E7777; 
	}
	
	.popup-message {
		display:block;
		margin-left: 80%;
		margin-right: 10px;
		margin-top: -90px;
		background-color: #DEBA9D;
		padding-left: 4px;
		padding-right: 4px;
		border-radius: 4px;
		width: fill-content;
		color: #6F4C5B;
		font-size: 20px;
		font-weight: bold;
	   	text-align: center;
	}
	
	 .message {
         color: #6F4C5B;
          font-size: 18px;
          margin-bottom: 20px;
      }
	        
       .hidden {
           display: none;
       }



