<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Delete Student</title>
	<link rel="stylesheet" type="text/css" th:href="@{/deleteStudent.css}">

</head>
<body>
<div class="popup-message" >
    	<p th:if="${mssg}" id="message-box" class="message" th:text="${mssg}"></p></div>
	<h2>Delete Student</h2>
		<form action="/deleteStudent" method="get">
			<label>Enter Roll No.</label>
			<input type="text" required name="roll">
			<button type=submit>Delete Student</button>
		</form>
		<script>
        setTimeout(function() {
            var messageBox = document.getElementById('message-box');
            if (messageBox) {
                messageBox.classList.add('hidden');
            }
        }, 2000); 
    </script>
</body>
</html>