<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Search Student</title>
	<link rel="stylesheet" type="text/css" th:href="@{/searchStudent.css}">

</head>
<body>
<div class="popup-message" >
    	<p th:if="${message}" id="message-box" class="message" th:text="${message}"></p></div>
	<h2>Search Student</h2>
	
	<form action="/searchStudent">
		<label for="roll">Enter Roll No to Search</label>
		<input type="text" name="roll">
		
		<button type="submit">Search Student</button>
	</form>
	<script>
        setTimeout(function() {
            var messageBox = document.getElementById('message-box');
            if (messageBox) {
                messageBox.classList.add('hidden');
            }
        }, 2000); 
    </script>
	

</body>
</html>